@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  @apply bg-[#111] text-zinc-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance font-extrabold leading-tight tracking-tight text-zinc-50;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl tracking-tighter;
}

h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.debug {
  outline: 1px solid red;
}
