@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0px 0px 20px 0px;
  line-height: 1.5;
  color: #fefefe;
  @apply bg-[#111111];
}

p {
  padding-bottom: 1rem !important;
}

h1 {
  @apply text-4xl pb-3 mb-2 !important;
}

h2 {
  @apply text-2xl !important;
}

h3 {
  @apply text-2xl pb-1 mb-2 !important;
}